* {
  font-family: "Roboto", "Raleway", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.header__logo {
  font-family: "Shrikhand";
  padding: 5px;
}

.header__logo img {
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__location {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d5d5d5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header__location p {
  font-family: "Roboto";
}

.header__location__location-span {
  color: #000;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #f2f2f2dc;
}

.header__title__inside {
  text-align: center;
}

.header__title h3 {
  margin: 0;
  font-weight: 800;
}

.header__title button {
  color: white;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356dc));
  background: linear-gradient(#FF79DA, #9356dc);
  border: 0 solid transparent;
  height: 40px;
  padding: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
}

.header__fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__fonctionnement__f-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.header__fonctionnement__f-part__fonctionnement-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: #f2f2f2dc;
  padding: 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  padding-left: 1.5rem;
  padding-right: 0;
  height: 40px;
}

.header__fonctionnement__f-part__fonctionnement-span--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 0;
  height: 40px;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #f2f2f2dc;
  color: #9356dc;
}

.header__fonctionnement__f-part__fonctionnement-span i {
  color: grey;
}

.header__fonctionnement__f-part__span-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: white;
  left: -5px;
  top: 10px;
  z-index: 1;
  background-color: #9356dc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  height: 1.2rem;
  width: 1.2rem;
  min-height: 1.2rem;
  min-width: 1.2rem;
}

.header__fonctionnement__f-part__fonctionnement-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 2.4rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

.header__fonctionnement__f-part p {
  height: 40px;
  width: 200px;
  margin: 0;
  background-color: #f2f2f2dc;
  text-align: center;
  padding-top: 10px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2dc;
  padding: 20px;
}

.menu__veignet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  height: 100%;
  border-radius: 30px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
}

.menu__veignet figure {
  margin: 0;
}

.menu__veignet img {
  border-radius: 30px 30px 0 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__veignet__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 20px 10px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__veignet__description__text {
  margin: 0;
}

.menu__veignet__description__text h3, .menu__veignet__description__text p {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: darkgrey;
  padding: 20px;
}

.footer img {
  height: 20px;
}
/*# sourceMappingURL=style.css.map */