@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  font-family: "Roboto", "Raleway", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

.header__logo {
  font-family: "Shrikhand";
  font-weight: 600;
  text-align: center;
}

.header__location {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #d5d5d5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.header__location p {
  font-family: "Roboto";
}

.header__location__location-span {
  color: #000;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  min-height: 2rem;
  min-width: 2rem;
}

.header__location__location-input {
  border-color: transparent;
  background-color: transparent;
}

.header__location__location-input::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}

.header__location__location-input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

.header__location__location-input::-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

.header__location__location-input::placeholder {
  color: black;
  font-weight: bold;
}

.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #f2f2f2dc;
}

.header__title__inside {
  text-align: center;
}

.header__title h3 {
  margin: 0;
  font-weight: 800;
}

.header__title button {
  color: white;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356dc));
  background: linear-gradient(#FF79DA, #9356dc);
  border: 0 solid transparent;
  height: 40px;
  padding: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 20px;
}

.header__fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__fonctionnement__f-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  margin: 1rem 0 1rem 0.75rem;
  -webkit-box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
          box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
  background-color: #f2f2f2dc;
  font-size: 1rem;
  position: relative;
  padding: 25px;
}

.header__fonctionnement__f-part__fonctionnement-span {
  color: grey;
  width: 20px;
  margin: 2px 0 0 15px;
}

.header__fonctionnement__f-part__span-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: white;
  left: -10px;
  z-index: 1;
  background-color: #9356dc;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
}

.header__fonctionnement__f-part__fonctionnement-text {
  font-weight: 500;
  margin: 2px 0 0 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f2f2f2dc;
  padding: 20px;
}

.menu__veignet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  height: 100%;
  border-radius: 30px;
  background-color: white;
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
}

.menu__veignet__badge {
  position: absolute;
  background-color: #99E2D0;
  top: 1rem;
  right: 0.75rem;
  padding: 0.5rem;
  color: #1b6150;
  border-radius: 0.25rem;
}

.menu__veignet figure {
  margin: 0;
  height: 12rem;
}

.menu__veignet img {
  border-radius: 30px 30px 0 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu__veignet__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.menu__veignet__description__text h3 {
  margin: 0;
  margin-bottom: 0.25rem;
}

.menu__veignet__description__text p {
  margin: 0;
  padding: 0;
}

.menu__veignet__description__heart-span {
  font-size: 25px;
}

.footer {
  background-color: darkgrey;
  padding: 20px;
}

.footer img {
  height: 20px;
}
/*# sourceMappingURL=style.css.map */