$violet: #9356dc;
$pink: #FF79DA;
$blue: #99E2D0;
$black: #000;
$textPolice: "Roboto";
$textTitles: "Shrikhand";
$vert: #1b6150;

$claireGris: #f2f2f2dc;
$gris: #d5d5d5;
$grisFonce: #0000002e;

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D1;